.ShopNow {
  display: flex;
  background-color: #f2e6d5;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 4vw 0;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 480px) {
  .ShopNow {
    flex-direction: column-reverse;
    padding-top: 40px;
  }
}

@media screen and (max-width: 667px) {
  .ShopNow {
    text-align: center;
  }
}

.ShopNow .image-col {
  width: 60%;
  position: relative;
  min-height: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.ShopNow .article-col {
  width: 40%;
  position: relative;
  min-height: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

@media screen and (max-width: 480px) {
  .ShopNow .col {
    min-height: auto;
    width: 100%;
  }
}

section.ShopNow svg.rotated {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  stroke-width: 0.1px;
  stroke: #d9ab73;
  fill: none;
  z-index: 2;
}

.ShopNow img {
  max-width: 100%;
  height: 35vw;
  position: absolute;
  max-height: 100%;
}

@media screen and (max-width: 480px) {
  .ShopNow img {
    position: initial;
    max-height: auto;
    max-width: 100%;
    margin: 0 auto;
    width: 75vw;
    height: 60vw;
  }
}

.ShopNow article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 75%;
}
@media screen and (max-width: 480px) {
  .ShopNow article {
    max-width: 95%;
    align-items: center;
  }
}

.ShopNow article h2 {
  font-family: "BrandonGrotesque-Black", Arial, sans-serif;
  font-size: 2.8vw;
  font-weight: 900;
  line-height: 3.95vw;
  margin: 0 0 14px;
  max-width: 525px;
  color: #d9ab73;
}

@media screen and (max-width: 480px) {
  .ShopNow article h2 {
    font-size: 8.5vw;
    line-height: 14.5vw;
  }
}

.ShopNow article p {
  font-family: "BrandonText-Regular", Arial, sans-serif;
  font-size: 1.25vw;
  line-height: 1.75vw;
  margin: 0 0 3vw;
  max-width: 525px;
  color: #d9ab73;
}

@media screen and (max-width: 480px) {
  .ShopNow article p {
    text-align: center;
    max-width: 75vw;
    font-size: 4.5vw;
    line-height: 6vw;
  }
}

.ShopNow article a {
  background-color: black;
  border-radius: 3px;
  line-height: 3.2vw;
  color: #d9ab73;
  font-family: "BrandonGrotesque-Black", Arial, sans-serif;
  font-size: 1.14vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  max-width: 14vw;
  max-height: 3.45vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 480px) {
  .ShopNow article a {
    min-width: 20vw;
    max-width: 100vw;
    max-height: none;
    line-height: 11vw;
    font-size: 3vw;
    padding: 0 20px;
  }
}

.ShopNow .mobile-only {
  display: none;
}

@media screen and (max-width: 667px) {
  .ShopNow .mobile-only {
    display: block;
  }
}

.ShopNow .non-mobile-only {
  display: block;
}

@media screen and (max-width: 667px) {
  .ShopNow .non-mobile-only {
    display: none;
  }
}
