@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

.containerFaq {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  color: #d9ab73;
  overflow: hidden;
  max-height: 100vh;
}
.containerFaq .rotated {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  stroke-width: 0.1px;
  z-index: -1;
}
.containerFaq .title {
  margin-top: 8vh;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0px;
}
@media screen and (max-width: 800px) {
  .containerFaq .title {
    display: none;
  }
}
.containerFaq .title .faqDropDown {
  display: none;
}
@media screen and (max-width: 800px) {
  .containerFaq .title .faqDropDown {
    display: inline-block;
    position: relative;
    width: 100%;
  }
}
.containerFaq .title .dropBtn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 3vh;
  padding: 15px 16px 15px 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
  background: rgba(242, 230, 213, 0.53);
  color: white;
  text-transform: capitalize;
}
.containerFaq .title .dropBtn:hover,
.containerFaq .title .dropBtn:focus {
  background-color: rgba(242, 230, 213, 0.33);
}
.containerFaq .title .faqDropDownContent {
  display: none;
  position: absolute;
  width: 70%;
  margin-left: 15%;
  z-index: 1;
}
.containerFaq .title .faqDropDownContent button {
  color: black;
  padding: 12px 16px;
  width: 100%;
  background-color: #3c3c3c;
  color: white;
  text-decoration: none;
  margin: auto;
  display: block;
  border: none;
  text-align: justify;
}
.containerFaq .title .faqDropDownContent button:hover {
  background-color: #58595b;
}
.containerFaq .title .showMobileFaq {
  display: block !important;
}
.containerFaq .faq {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;
}
@media screen and (max-width: 800px) {
  .containerFaq .faq {
    padding: 0px;
    margin-bottom: 20px;
    display: none;
  }
}
.containerFaq .faq button {
  position: relative;
  display: block;
  text-align: center;
  width: 25%;
  padding: 1em 0;
  color: #d9ab73;
  font-size: 2.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
@media screen and (max-width: 800px) {
  .containerFaq .faq button {
    width: 50%;
    font-size: 1.5rem;
    padding: 10px;
  }
}
.containerFaq .faq button:hover, .containerFaq .faq button:focus {
  cursor: pointer;
  color: #f2e6d5;
}
.containerFaq .faq button:hover::after, .containerFaq .faq button:focus::after {
  cursor: pointer;
  color: #f2e6d5;
  border: 1px solid #f2e6d5;
}

.shownContent {
  opacity: 1 !important;
  max-height: 68vh !important;
  overflow: auto;
  will-change: opacity, max-height;
}

.showGrid {
  will-change: max-height, display;
  max-height: 100% !important;
  display: flex !important;
}

.accordion {
  opacity: 0;
  max-height: 0;
  transition: opacity 900ms linear;
  will-change: opacity, max-height;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.accordion .grid {
  display: none;
  max-height: 0;
  will-change: max-height, display;
}
.accordion .grid .grid-col {
  flex: 1;
  width: 30%;
  max-height: inherit;
}
@media screen and (max-width: 800px) {
  .accordion .grid .grid-col--2 {
    display: none;
  }
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 800px) {
  .accordion .accordion-item {
    width: 90%;
  }
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #f2e6d5;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #d9ab73;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #f2e6d5;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #f2e6d5;
  border: 1px solid #f2e6d5;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
@media screen and (max-width: 800px) {
  .accordion button .icon {
    display: none;
  }
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #f2e6d5;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 25em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  color: #d9ab73;
  font-size: 1.15rem;
  font-weight: 300;
  margin: 2em 0;
}

/*# sourceMappingURL=faq.css.map */
